body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Prevent scrolling on the main page */
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.egypt-hub-details-container {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
}

.egypt-hub-details-container h1,
.egypt-hub-details-container h2 {
  color: #ffa500; /* Orange color for headings */
  margin-bottom: 15px;
}

.egypt-hub-details-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

.egypt-hub-details-container ol {
  list-style-type: decimal;
  margin-left: 20px;
  margin-bottom: 15px;
}

.egypt-hub-details-container li {
  margin-bottom: 5px;
}

.egypt-hub-details-container button {
  background-color: #ffa500;
  color: #1a1a1a;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.egypt-hub-details-container button:hover {
  background-color: #e69500;
}


